//paths
$fonts-folder: "../fonts";
$images-folder: '../img/';

//fonts
$font-primary: "HelveticaNeueCyr", serif;
$font-secondary: "Times New Roman", serif;
$font-icons: "icomoon";

//color usage
$color-primary: #1900E1;
$color-highlight: #37FF8D;
$color-warning: #e44c23;
$color-light: #F9F9F9;

//Descriptive Base Colors
$color-text: #281743;

//Base Font-sizes
$base-font-size: 18px;
$font-coefficient: 1.2;

// Font-sizes
$fs-md: 1em; //18px
$fs-lg: 1.222em; //22px
$fs-xl: 1.778em; //32px

// Heading sizes
$h3: 1.778em; //32px
$h2: 3.111em; //56px
$h1: 3.556em; //64px
$heading-coefficient: 1.325;

//Border Radiuses
$br-default: 4px;
$br-rounded: 50%;
$br-none: 0;

// Transitions
$trns-duration: .3s;
$trns-delay: 50ms;

//container
$cont-width: 1415px;
$cont-padding: 52px;

//Resolutions
$screen-lg: 1280px;
$screen-md: 1024px;
$screen-sm: 768px;
$screen-xs: 480px;
$screen-xxs: 360px;

$screen-md-max: ($screen-lg - 1); //1279px
$screen-sm-max: ($screen-md - 1); //1023px
$screen-xs-max: ($screen-sm - 1); //767px
$screen-xxs-max: ($screen-xs - 1); //479px

//main
$nav-width: 86px;
