.four-cols {
  flex-wrap: wrap;

  & > .col {
    width: calc(50% - 12px);
    margin-bottom: map-get($spaces, 8);
  }
}

@media (min-width: $screen-sm) {
  .four-cols {
    & > .col {
      width: calc(25% - 12px);
    }
  }
}

.two-md-cols {
  & > .col {
    margin-bottom: map-get($spaces, 8);
  }
}

@media (min-width: $screen-md) {
  .two-md-cols {
    flex-wrap: wrap;

    & > .col {
      width: calc(50% - 12px);
    }
  }
}


.two-lg-box-cols {
  & > .col {
    margin-bottom: map-get($spaces, 8);
  }
}

@media (min-width: $screen-lg) {
  .two-lg-box-cols {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;

    & > .col {
      width: calc(50% - 7px);
      margin-bottom: 0;
    }
  }
}
