.link {
  @extend %link;
}

.link-primary {
  color: $color-primary;
  @extend %link;
}

.link-img {
  img {
    transition: $trns-duration ease;
  }
  &:hover {
    img {
      opacity: 0.7;
    }
  }
}

//alignments
.align-middle {
  vertical-align: middle;
}

.images-full {
  img {
    display: block;
    width: 100%;
  }
}
