.list-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  & > li {
    width: 33.33%;
    max-width: 285px;
    padding-left: map-get($spaces, 1);
    padding-right: map-get($spaces, 1);
    margin-top: map-get($spaces, 8);
    margin-bottom: map-get($spaces, 8);
  }
}
