.tabs-section {
  display: none;
}

.tabs-area {
  &.tab-selected {
    .tabs-section {
      display: block;
    }
  }
  .tab {
    display: none;
    opacity: 0;
    @extend %animated;
    animation-name: fadeOut;

    &.active {
      opacity: 1;
      display: block;
      animation-name: fadeIn;
    }
  }
}
