@each $key, $val in $text-font-sizes {
    .fs-#{$key} {
        font-size: #{$val};
    }
}

@each $key, $val in $heading-font-sizes {
    #{$key},.#{$key} {
        font-size: #{$val};
        font-weight: 700;
    }
}

.h1, h1, .h2, h2 {
    color: $color-primary;
}
