@media (max-width: $screen-sm-max) {
  .pb-lg {
    padding-bottom: 50px;
  }
  .mb-lg {
    margin-bottom: 50px;
  }
  .pb-xxl {
    padding-bottom: 64px;
  }
  .mb-xxl {
    margin-bottom: 64px;
  }
}
