@media (min-width: $screen-md) {
  .svg-line {
    &.onetwo {
      display: none;
    }
  }
}

@media (max-width: $screen-sm-max) {
  .svg-point {
    width: 34px;
    height: 34px;

    &.top-right {
      right: 0;
      top: 105px;
    }
  }
}
