$resolutions: (
  xxs: $screen-xxs,
  xs: $screen-xs,
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg
) !default;

$spaces: (
  1: 3px,
  2: 6px,
  3: 9px,
  4: 12px,
  5: 15px,
  6: 18px,
  7: 21px,
  8: 24px,
  9: 27px,
  10: 30px,
  lg: 51px,
  xxl: px,
) !default;

$text-font-sizes: (
  base: $base-font-size,
  md: $fs-md,
  lg: $fs-lg,
  xl: $fs-xl,
) !default;

$heading-font-sizes: (
  h4: $h4,
  h3: $h3,
  h2: $h2,
  h1: $h1
) !default;

$colors: (
  primary: $color-primary,
  highlight: $color-highlight,
  text: $color-text,
  warning: $color-warning,
) !default;

$font-weights: (
  regular: 400,
  bold: 700
);
